@model IEnumerable<EventosTec.Web.Models.Entities.Client>

@{
    ViewData["Title"] = "Client";
}

    <h5></h5>
<p class="">
    <a asp-action="Create" class="btn btn-success btn-sm">Crear cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.User.Email)</th>
            <th>
                Phone
            </th>
            <th> Eventos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Events.Count)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
